<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <!-- Add LAUNCHER category to the TV activity so it appears on phone launchers -->
        <activity
            android:name=".tv.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Disable the Mobile activity by removing its intent filter -->
        <activity
            android:name=".app.main.MainActivity">
             <intent-filter tools:node="removeAll" />
        </activity>

    </application>

</manifest>
